<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="InfantLab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LincolnTest.Properties.PresentView" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LincolnTest.ScoreKB" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LincolnTest.Properties.PresentKB" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LincolnTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    
    </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <InfantLab.Properties.Settings>
            <setting name="ExpPath" serializeAs="String">
                <value>c:\testproject\</value>
            </setting>
            <setting name="createPaths" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="stimPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="nextKey" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="LastProject" serializeAs="String">
                <value>c:\testproject\</value>
            </setting>
        </InfantLab.Properties.Settings>
        <LincolnTest.Properties.PresentView>
            <setting name="Scale" serializeAs="String">
                <value>1</value>
            </setting>
        </LincolnTest.Properties.PresentView>
        <LincolnTest.ScoreKB>
            <setting name="NextFrame" serializeAs="String">
                <value>M</value>
            </setting>
            <setting name="LastFrame" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="PlayPause" serializeAs="String">
                <value>Space</value>
            </setting>
        </LincolnTest.ScoreKB>
        <LincolnTest.Properties.PresentKB>
            <setting name="NextTrial" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="PreviousTrial" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="TrialStart" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="EndTrial" serializeAs="String">
                <value>Escape</value>
            </setting>
            <setting name="AttentionImage" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="AttentionSound" serializeAs="String">
                <value>Q</value>
            </setting>
            <setting name="AutoPlay" serializeAs="String">
                <value>P</value>
            </setting>
        </LincolnTest.Properties.PresentKB>
        <LincolnTest.Properties.Settings>
            <setting name="ExpPath" serializeAs="String">
                <value />
            </setting>
            <setting name="createPaths" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="nextKey" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="LastProject" serializeAs="String">
                <value />
            </setting>
            <setting name="stimPathVisual" serializeAs="String">
                <value />
            </setting>
            <setting name="stimPathAudio" serializeAs="String">
                <value />
            </setting>
            <setting name="stimulusDisplay" serializeAs="String">
                <value>0</value>
            </setting>
        </LincolnTest.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.3" newVersion="7.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
